{{ partial "header.html" . }}
<main class="container">
		<div class="card white">
			<div class="card-content">
				<h1>Seite nicht gefunden</h1>
				<div class="divider"></div>
				<div class="section content">
					Die gesuchte Seite wurde nicht gefunden.
				</div>
				<a href="{{ .Site.BaseURL }}" class="btn-large waves-effect">
					<i class="material-icons">home</i>
					Zur Startseite
					<i class="material-icons">chevron_right</i>
				</a>
			</div>
		</div>
	</main>
{{ partial "footer.html" . }}